[user]
    name = Daniel Wang
    email = 103014684+cloudyapple4@users.noreply.github.com

[init]
    defaultBranch = main

[core]
    autocrlf = input
    editor = nvim

[push]
    autoSetupRemote = true
