# page template for my personal site
snippet tpl
    <!DOCTYPE html>
    <html>
        <head>
            <link rel="stylesheet" type="text/css" href="./styles.css">
            <title>${1}</title>
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">
        </head>
        <body>
            <a href="./">Home</a>
            <h1>${1}</h1>
            ${0}
        </body>
    </html>

